
-# search thing

.products
  - @products.each do |product|
    .product
      .inner
        .row-fluid
          .span12
            %h4= product.name.titleize
        .row-fluid
          .span2
            = image_product( product )
          .span9
            .row-fluid
              .span6.label{ :class => product.packaging }
                .packaging
                  = product.packaging
              .span6.label{ :class => product.temperature }
                .temperature
                  = product.temperature
                  
            .row-fluid.toggles
              .span6
                .row-fluid
                  - if product.is_gf
                    .btn.btn-success Y
                  - else
                    .btn.btn-warning N
                  Gluten Free?
                .row-fluid
                  - if product.is_gmp
                    .btn.btn-success Y
                  - else
                    .btn.btn-warning N
                  GMP certified?
                .row-fluid
                  - if product.is_dedicated
                    .btn.btn-success Y
                  - else
                    .btn.btn-warning N
                  Dedicated facility?
              .span6
                .row-fluid
                  - if product.has_dairy
                    .btn.btn-success Y
                    .btn.action N
                  - else
                    .btn.action Y
                    .btn.btn-warning N
                  Has dairy?
                .row-fluid
                  - if product.has_soy
                    .btn.btn-success Y
                    .btn.action N
                  - else
                    .btn.action Y
                    .btn.btn-warning N
                  Has soy?
                .row-fluid
                  - if product.has_eggs
                    .btn.btn-success Y
                    .btn.action N
                  - else
                    .btn.action Y
                    .btn.btn-warning N
                  Has eggs?
                
            .row-fluid
              .span6.label
                .n_servings= "#{ product.n_servings } servings"
              .span6
                .rating                
                  - (1..product.rating).each do |i|
                    = image_tag 'star.png'
                
          .span1
            .more-field
              = image_tag 'more.png'